.context-menu {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    list-style-type: none;
    padding: 5px;
    z-index: 1000;
}

.context-menu li {
    padding: 5px;
    cursor: pointer;
}

.context-menu li:hover {
    background-color: #f0f0f0;
}

.tag-selector {
    position: fixed;
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
