.task-input, .add-task-btn {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.task-list {
    list-style: none;
    padding: 0;
}

li {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    gap: 8px;
}

.task {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    align-items: flex-start;
    width: 100%;
}
